<h1>Categories#edit</h1>
<p>Find me in app/views/categories/edit.html.erb</p>

<%= simple_form_for @category do |f| %>
  <%= f.input :name, label: "Nom de la catégorie" %>
  <%= f.submit "Mettre à jour" %>
<% end %>
